<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <div>
        <select name = "type">
            <option value="采购管理类">采购管理类</option>
            <option value = "产业链协同类">产业链协同类</option>
            <option value = "风险管控类">风险管控类</option>
            <option value = "销售管理类">销售管理类</option>
            <option value = "物流管理类">物流管理类</option>
            <option value = "安全管理类">安全管理类</option>
            <option value="认证管理类">认证管理类</option>
            <option value = "项目管理类">项目管理类</option>
            <option value = "人才管理类">人才管理类</option>
            <option value = "组织管理类">组织管理类</option>
            <option value = "辅助决策类">辅助决策类</option>
            <option value = "企业资产类">企业资产类</option>
            <option value = "过程优化类">过程优化类</option>
        </select>

    </div>
    <div>
        <button type="submit" value="pre" name="action">返回上一页</button>
        <button type="submit" value="next" name="action">下一项</button>
    </div>
</form>
</body>
</html>