<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <div>

            <select name = "type">
                <option value="产品设计类">产品设计类</option>
                <option value = "工艺流程设计类">工艺流程设计类</option>
                <option value = "过程控制设计类">过程控制设计类</option>
                <option value = "产线设计与实现类">产线设计与实现类</option>
                <option value = "仿真类">仿真类</option>
                <option value = "试制实验类">试制实验类</option>
            </select>
        </div>
        <div>
            <button type="submit" value="pre" name="action">返回上一页</button>
            <button type="submit" value="next" name="action">下一项</button>
        </div>
    </form>
</body>
</html>