<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <label>按照知识类型分类</label>
    <select name = "type">
        <option value="业务信息化类">业务信息化类</option>
        <option value="数据分析类">数据分析类</option>
        <option value="知识建模类">知识建模类</option>
    </select>
    <div>
        <button type="submit" value="pre" name="action">返回上一页</button>
        <button type="submit" value="next" name="action">下一项</button>
    </div>

</form>
</body>
</html>