<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <div>
            <label>按照适用范围分类</label>
            <select name="type">
                <option value="基础共性工业APP">基础共性工业APP</option>
                <option value="行业通用工业APP">行业通用工业APP</option>
                <option value="企业专用工业APP">企业专用工业APP</option>
                <option value="其它工业APP">其它工业APP</option>
            </select>
        </div>
        <div>
            <button type="submit" value="pre" name="action">返回上一页</button>
            <button type="submit" value="next" name="action">下一项</button>
        </div>
    </form>
</body>
</html>