<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <div>
        <select name = "type">
            <option value="生产计划管理类">生产计划管理类</option>
            <option value = "生产作业管理类">生产作业管理类</option>
            <option value = "物料管理类">物料管理类</option>
            <option value = "设备管理类">设备管理类</option>
            <option value = "工装管理类">工装管理类</option>
            <option value = "质量管理类">质量管理类</option>
        </select>

    </div>
    <div>
        <button type="submit" value="pre" name="action">返回上一页</button>
        <button type="submit" value="next" name="action">下一项</button>
    </div>
</form>
</body>
</html>