<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <div>
        <select name = "type">
            <option value="数据收集监控类">数据收集监控类</option>
            <option value = "预测性维护类">预测性维护类</option>
            <option value = "应急处理类">应急处理类</option>
            <option value = "节能服务类">节能服务类</option>
            <option value = "健康评价类">健康评价类</option>
            <option value = "售后服务类">售后服务类</option>
        </select>

    </div>
    <div>
        <button type="submit" value="pre" name="action">返回上一页</button>
        <button type="submit" value="next" name="action">下一项</button>
    </div>
</form>
</body>
</html>