<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <label>按照业务环节分类</label>
        <select name = "type">
            <option value="研发设计工业APP">研发设计工业APP</option>
            <option value="生产制造工业APP">生产制造工业APP</option>
            <option value="运维服务工业APP">运维服务工业APP</option>
            <option value="经营管理工业APP">经营管理工业APP</option>
        </select>
        <div>
            <button type="submit" value="pre" name="action">返回上一页</button>
            <button type="submit" value="next" name="action">下一项</button>
        </div>
    </form>
</body>
</html>